body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
}
 ::selection {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
 }
header {
    position: fixed;
    top: 0;
    z-index: 2;
    height: 80px;
    border-bottom: 1px solid black;
    width: 100%;
    background-color: #929292;
    color: #f8f8f8;
}

header h1 {
    margin: auto;
    padding: 25px 20px;
    display: inline-block;
}

header ul {
    margin: auto;
    padding: 25px 20px;
    float: right;
}

header li{
    display: inline-block;
    font-size: 1.5em;
    margin: 0px 50px;
}

@media only screen and (max-width: 1200px){
    header {
        font-size: 15px;
    }
    
    header li {
        font-size: 1.5em;
        display: inline-block;
        margin: 0px 10px;
    }
}

nav a {
    text-decoration: none;
    color: #f8f8f8;
}

#colors {
    border: 1px solid black;
    margin: 100px auto 50px auto;
    width: 90%;
    background-color: whitesmoke;

}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

.title {
    width: 100%;
    border-bottom: 1px dotted black;
    padding: 20px 0px;
    margin: 0;
    text-align: center;
    text-decoration: underline;
}

.colorBox {
    border: 1px solid black;
    margin: 20px;
    min-height: 100px;
    width: 20%;
    text-align: center;
}

#fonts {
    border: 1px solid black;
    margin: 50px auto 50px auto;;
    width: 90%;
    background-color: whitesmoke
}


.fontbox {
    padding-left: 5px;
    margin: 20px;
    min-height: 100px;
    min-width: 30%;
    background-color: white;
    font-size: 17px;
    border-left: 2px solid black;  
}

.text-panel {
    margin: 20px;
    width: 100%;
    text-align: center;
}

.text-panel h1, .text-panel h2, .text-panel p {
    text-decoration: underline;
}

.text-panel ul {
    list-style-type: none;
}

#text-styles {
    border: 1px solid black;
    width: 90%;
    margin: 50px auto 50px auto;
    background-color: whitesmoke;
}

#violet {
    background-color: #ee82ee; 
    color: white;
    font-weight: bold;
}

#red {
    background-color: #ff0000;
    color: white;
    font-weight: bold;
}

#orange {
    background-color: #ffa500;
    color: white;
    font-weight: bold;
}

#yellow {
    background-color: #ffff00;
    color: black;
    font-weight: bold;
}

#green {
    background-color: #008000;
    color: white;
    font-weight: bold;
}

#cyan {
    background-color: #00ffff;
    color: white;
    font-weight: bold;
}

#blue {
    background-color: #0000ff;
    color: white;
    font-weight: bold;
}

#indigo {
    background-color: #4b0082;
    color: white;
    font-weight: bold;
}

.colorBox:hover {
    cursor: pointer;
}

#violet:active {
    width: 30%;
    background-color: #117d11;
    color: black;
}

#red:active {
    width: 30%;
    text-align: center;
    background-color: #00ffff;
    color: black;
}

#orange:active {
    width: 30%;
    text-align: center;
    background-color: #00a5ff;
    color: black;
}

#yellow:active {
    width: 30%;
    text-align: center;
    background-color: #0000ff;
    color: white;
}

#green:active {
    width: 30%;
    text-align: center;
    background-color: #ff7fff;
    color: black;
}

#cyan:active {
    width: 30%;
    text-align: center;
    background-color: #ff0000;
    color: black;
}

#blue:active {
    width: 30%;
    text-align: center;
    background-color: #ffff00;
    color: black;
}

#indigo:active {
    width: 30%;
    text-align: center;
    background-color: #b4ff7d;
    color: black;
}




.regular {
    font-style: normal;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.fontbox h3 {
    font-size: 1.5em;
}

.source-code-pro {
    font-family: 'Source Code Pro' , monospace;
}

.nunito-sans {
    font-family: 'Nunito Sans' , sans-serif;
}

.poppins {
    font-family: 'Poppins' , sans-serif;
}

.times-new-roman {
    font-family: 'Times New Roman', Times, serif;
}

.tahomba {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.playfair-display {
    font-family: "Playfair Display" , serif;
}

